In [1]:
import pandas as pd

df = pd.read_csv('/Users/annakelmanson/Desktop/lauzhack/NearestNeighbors/files/csv/BRISTOR_Zegoland_Activity.csv')

df.head()

    Country  Product Data type Channel     Date  Value
0  Zegoland  BRISTOR  Activity   Email  juil-20     29
1  Zegoland  BRISTOR  Activity   Email  août-20    146
2  Zegoland  BRISTOR  Activity   Email  sept-20    234
3  Zegoland  BRISTOR  Activity   Email   oct-20   1371
4  Zegoland  BRISTOR  Activity   Email   nov-20   1655

In [71]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [2]:

french_to_num = {
    'janv': '01', 'févr': '02', 'mars': '03', 'avr': '04',
    'mai': '05', 'juin': '06', 'juil': '07', 'août': '08',
    'sept': '09', 'oct': '10', 'nov': '11', 'déc': '12'
}

def convert_french_date(date_str):
    month, year = date_str.split('-')
    month = month.lower()
    year = '20' + year  
    month_num = french_to_num[month]
    return f"{year}-{month_num}-01"

df['Date'] = df['Date'].apply(convert_french_date)

In [3]:
df

      Country  Product Data type    Channel        Date  Value
0    Zegoland  BRISTOR  Activity      Email  2020-07-01     29
1    Zegoland  BRISTOR  Activity      Email  2020-08-01    146
2    Zegoland  BRISTOR  Activity      Email  2020-09-01    234
3    Zegoland  BRISTOR  Activity      Email  2020-10-01   1371
4    Zegoland  BRISTOR  Activity      Email  2020-11-01   1655
..        ...      ...       ...        ...         ...    ...
251  Zegoland  BRISTOR  Activity  Telephone  2024-06-01     55
252  Zegoland  BRISTOR  Activity  Telephone  2024-07-01     44
253  Zegoland  BRISTOR  Activity  Telephone  2024-08-01     29
254  Zegoland  BRISTOR  Activity  Telephone  2024-09-01     55
255  Zegoland  BRISTOR  Activity  Telephone  2024-10-01     47

[256 rows x 6 columns]

In [5]:
import pandas as pd

In [53]:
df_original = pd.read_csv('/Users/annakelmanson/Desktop/lauzhack/NearestNeighbors/files/BRISTOR_Zegoland.csv')
TARGET = '{"Ex-factory volumes","BRISTOR"}'
ALL_FEATURES = [c for c in df_original.columns if c not in [TARGET, 'Date', 'Country']]
NUM_FEATURES = 2

# Scale the data

In [65]:
CURRENT_FEATURES = ALL_FEATURES[:NUM_FEATURES]
df = df_original[CURRENT_FEATURES + [TARGET]].rename(columns={TARGET: 'target'})
scaler = MinMaxScaler()
df[CURRENT_FEATURES + ['target']] = scaler.fit_transform(df[CURRENT_FEATURES + ['target']])
df.head()

,"{""Activity"",""Email"",""BRISTOR""}","{""Activity"",""Face to face call"",""BRISTOR""}",target
0,0.509642,0.000000,0.000000
1,0.463728,0.033079,0.044373
2,0.910009,0.043621,0.051346
3,0.667585,0.131225,0.056854
4,0.367309,0.234097,0.143671

# Train the model

In [73]:

# Create and train model
X = df[CURRENT_FEATURES].values
y = df['target'].values


§

In [75]:
X, y

(array([[0.50964187, 0.        ],
        [0.46372819, 0.03307888],
        [0.91000918, 0.0436205 ],
        [0.66758494, 0.13122501],
        [0.36730946, 0.23409669],
        [0.29109275, 0.30679753],
        [0.36730946, 0.28789531],
        [0.45821855, 0.35296256],
        [0.36547291, 0.28098873],
        [0.62993572, 0.34714649],
        [0.60422406, 0.22755362],
        [0.49770432, 0.34641948],
        [0.99816345, 0.49000364],
        [0.82644628, 0.52780807],
        [0.56565657, 0.45547074],
        [0.63177227, 0.46310433],
        [0.49586777, 0.46782988],
        [0.59871442, 0.36713922],
        [1.        , 0.46310433],
        [0.60146924, 0.60668848],
        [0.59320478, 0.47364595],
        [0.36271809, 0.80916031],
        [0.24517906, 0.43402399],
        [0.28374656, 0.62849873],
        [0.28191001, 0.66412214],
        [0.33241506, 0.84514722],
        [0.07988981, 0.58851327],
        [0.05693297, 0.56815703],
        [0.12855831, 0.956743  ],
        [0.19651056, 0.78335151],
        [0.16528926, 0.81388586],
        [0.20477502, 0.92511814],
        [0.22773186, 0.80770629],
        [0.33884298, 1.        ],
        [0.        , 0.54125772],
        [0.09917355, 0.76881134],
        [0.28741965, 0.9741912 ],
        [0.22038567, 0.8433297 ],
        [0.12947658, 0.90876045],
        [0.04315886, 0.63794984]]),
 array([0.        , 0.04437336, 0.05134575, 0.05685368, 0.14367112,
        0.12940647, 0.22485068, 0.26866425, 0.242659  , 0.42435587,
        0.19917031, 0.25953767, 0.26554542, 0.40568287, 0.24889167,
        0.46584531, 0.29527927, 0.50893915, 0.42182681, 0.37904286,
        0.43874047, 0.49638885, 0.49660877, 0.57656379, 0.54999375,
        0.62085218, 0.45668874, 0.40313382, 0.89105585, 0.60911158,
        0.57085593, 0.75240785, 0.93903286, 0.90761964, 0.86248657,
        1.        , 0.768007  , 0.80353367, 0.94171186, 0.76435837]))

# Reverse the scaling transformation

In [66]:
df_unscaled = pd.DataFrame(scaler.inverse_transform(df[CURRENT_FEATURES + ['target']]), 
                          columns=CURRENT_FEATURES + ['target'])
df_unscaled.head()

,"{""Activity"",""Email"",""BRISTOR""}","{""Activity"",""Face to face call"",""BRISTOR""}",target
0,647.0,38.0,17250.46
1,597.0,129.0,21334.34
2,1083.0,158.0,21976.04
3,819.0,399.0,22482.96
4,492.0,682.0,30473.16

In [46]:
TARGET = '{"Ex-factory volumes","BRISTOR"}'
WINDOW_SIZE = 3

In [47]:
from sklearn.preprocessing import MinMaxScaler

df[f'{TARGET}_EMA'] = df[TARGET].ewm(span=WINDOW_SIZE).sum()

In [48]:
df

,Date,Country,"{""Activity"",""Email"",""BRISTOR""}","{""Activity"",""Face to face call"",""BRISTOR""}","{""Activity"",""Mail"",""BRISTOR""}","{""Activity"",""Remote call"",""BRISTOR""}","{""Activity"",""Telephone"",""BRISTOR""}","{""Demand volumes"",""Indication A"",""BRISTOR""}","{""Demand volumes"",""Indication A"",""Competitors""}","{""Demand volumes"",""Indication B"",""BRISTOR""}",...,"{""Patient numbers"",""Competitors"",""Indication B"",""New Patient %""}","{""Patient numbers"",""BRISTOR"",""Indication B"",""Total patients #""}","{""Patient numbers"",""Competitors"",""Indication B"",""Total patients #""}","{""Patient numbers"",""BRISTOR"",""Indication B"",""Total patients %""}","{""Patient numbers"",""Competitors"",""Indication B"",""Total patients %""}","{""Share of voice"",""Indication A"",""BRISTOR""}","{""Share of voice"",""Indication A"",""Competitors""}","{""Share of voice"",""Indication B"",""BRISTOR""}","{""Share of voice"",""Indication B"",""Competitors""}","{""Ex-factory volumes"",""BRISTOR""}_EMA"
0,2021-02-01,Zegoland,647,38,1808,34,253,16786.000000,3.315930e+06,NaN,...,1.000,0.0,23684.0,0.000,1.000,0.104353,0.895647,0.000000,0.998000,17250.460000
1,2021-03-01,Zegoland,597,129,1976,50,259,21709.000000,3.641900e+06,NaN,...,0.999,0.0,24292.0,0.000,1.001,0.109600,0.890400,0.000000,1.000000,29959.570000
2,2021-04-01,Zegoland,1083,158,1557,42,259,23780.000000,3.551709e+06,NaN,...,1.000,0.0,24605.0,0.000,1.000,0.035310,0.964690,0.000000,1.001000,36955.825000
3,2021-05-01,Zegoland,819,399,1415,71,227,24780.000000,3.193625e+06,NaN,...,0.999,0.0,24883.0,0.000,1.000,0.089040,0.910960,0.000000,1.001000,40960.872500
4,2021-06-01,Zegoland,492,682,898,36,149,28959.000000,3.406375e+06,NaN,...,1.001,0.0,25176.0,0.000,1.001,0.086283,0.913717,0.000000,1.001000,50953.596250
5,2021-07-01,Zegoland,409,882,535,32,170,33293.000000,3.977538e+06,NaN,...,0.999,0.0,25713.0,0.000,1.000,0.116749,0.883251,0.014000,0.986000,54637.118125
6,2021-08-01,Zegoland,492,830,597,11,181,40416.000000,3.435839e+06,NaN,...,1.000,0.0,25920.0,0.000,1.001,0.124427,0.875573,0.013000,0.985000,65263.039062
7,2021-09-01,Zegoland,591,1009,697,20,173,42466.000000,3.535960e+06,NaN,...,1.001,0.0,26365.0,0.000,1.000,0.058884,0.941116,0.000000,0.998000,74608.359531
8,2021-10-01,Zegoland,490,811,399,9,183,48409.000000,3.687867e+06,NaN,...,1.000,0.0,26660.0,0.000,1.001,0.063087,0.936913,0.052000,0.946000,76887.639766
9,2021-11-01,Zegoland,778,993,960,21,237,50690.626885,3.614874e+06,2.000000,...,0.999,2.0,27188.0,0.000,0.999,0.064742,0.935258,0.094000,0.906000,94749.659883
10,2021-12-01,Zegoland,750,664,1577,38,200,50570.861295,3.602962e+06,54.000000,...,0.979,27.0,27452.0,0.001,1.000,0.087327,0.912673,0.137000,0.864000,82955.829941
11,2022-01-01,Zegoland,634,991,1015,37,310,50917.380645,3.601168e+06,86.814883,...,0.976,59.0,27812.0,0.002,0.997,0.071527,0.928473,0.169975,0.831458,82614.794971
12,2022-02-01,Zegoland,1179,1386,601,37,326,50780.830461,3.373471e+06,117.704204,...,0.959,104.0,27854.0,0.004,0.996,0.083018,0.916982,0.086413,0.897870,82997.197485
13,2022-03-01,Zegoland,992,1490,705,47,283,62515.496098,3.723241e+06,175.611087,...,0.971,134.0,28438.0,0.005,0.995,0.059830,0.940170,0.167177,0.827894,96085.878743
14,2022-04-01,Zegoland,708,1291,1037,32,233,61091.127556,3.500161e+06,110.757450,...,0.975,148.0,28508.0,0.005,0.996,0.078789,0.921211,0.070212,0.966788,88200.019371
15,2022-05-01,Zegoland,780,1312,641,43,269,67640.897110,3.750983e+06,208.606122,...,0.977,168.0,29150.0,0.006,0.995,0.085550,0.914450,0.094039,0.845842,104224.309686
16,2022-06-01,Zegoland,632,1325,416,21,209,66007.870399,3.452332e+06,186.875494,...,0.968,184.0,29364.0,0.006,0.994,0.068988,0.931012,0.097203,0.919704,96538.494843
17,2022-07-01,Zegoland,744,1048,417,14,225,73846.000000,3.811340e+06,197.000000,...,0.968,211.0,29688.0,0.007,0.992,0.079290,0.920710,0.137119,0.885107,112359.667421
18,2022-08-01,Zegoland,1181,1312,757,15,217,75905.000000,3.634373e+06,217.000000,...,0.972,230.0,30112.0,0.008,0.993,0.055362,0.944638,0.082924,0.920645,112252.913711
19,2022-09-01,Zegoland,747,1707,380,25,141,70894.000000,3.682495e+06,284.000000,...,0.972,233.0,30638.0,0.008,0.991,0.059715,0.940285,0.074365,0.932685,108261.936855
20,2022-10-01,Zegoland,738,1341,401,31,147,74207.000000,3.668600e+06,223.000000,...,0.967,269.0,31145.0,0.009,0.991,0.069394,0.930606,0.040568,0.911972,111760.688428
21,2022-11-01,Zegoland,487,2264,464,29,164,78316.000000,3.795394e+06,241.000000,...,0.976,269.0,31830.0,0.008,0.993,0.065916,0.934084,0.149378,0.887622,118815.704214
22,2022-12-01,Zegoland,359,1232,531,11,89,82382.000000,3.728224e+06,379.517256,...,0.970,282.0,31873.0,0.009,0.990,0.067461,0.932539,0.085522,0.938684,122363.452107
23,2023-01-01,Zegoland,401,1767,513,31,140,85614.000000,3.770941e+06,253.556293,...,0.974,308.0,32578.0,0.009,0.991,0.107591,0.892409,0.154753,0.827114,131495.946053
24,2023-02-01,Zegoland,399,1865,448,21,124,74336.000000,3.438942e+06,308.974050,...,0.968,308.0,32650.0,0.009,0.991,0.079242,0.920758,0.100615,0.876959,133616.833027
25,2023-03-01,Zegoland,454,2363,551,30,131,90670.000000,3.918489e+06,427.493376,...,0.960,347.0,33371.0,0.010,0.990,0.071899,0.928101,0.136716,0.859140,141198.696513
26,2023-04-01,Zegoland,179,1657,404,10,80,79502.000000,3.545970e+06,316.323893,...,0.968,364.0,33612.0,0.011,0.990,0.057809,0.942191,0.082824,0.877214,129880.928257
27,2023-05-01,Zegoland,154,1601,538,15,55,90902.000000,3.773243e+06,384.632602,...,0.972,387.0,34079.0,0.011,0.988,0.073908,0.926092,0.134647,0.902353,119293.144128
28,2023-06-01,Zegoland,232,2670,551,20,60,97073.414946,3.701381e+06,397.104166,...,0.975,396.0,34611.0,0.011,0.988,0.077103,0.922897,0.161391,0.875609,158904.912064
29,2023-07-01,Zegoland,306,2193,438,16,59,93544.612420,3.881434e+06,394.763427,...,0.975,397.0,35184.0,0.011,0.990,0.069519,0.930481,0.112694,0.886741,152762.196032
30,2023-08-01,Zegoland,272,2277,788,17,68,91053.968377,3.676931e+06,417.831177,...,0.970,421.0,35829.0,0.012,0.988,0.094310,0.905690,0.074102,0.921263,146169.998016
31,2023-09-01,Zegoland,315,2583,452,21,129,90968.736285,3.645885e+06,401.762095,...,0.972,435.0,36295.0,0.012,0.987,0.077531,0.922469,0.033873,1.003127,159582.939008
32,2023-10-01,Zegoland,340,2260,480,59,135,99647.559173,3.828950e+06,419.850109,...,0.975,448.0,36839.0,0.012,0.987,0.084502,0.915498,0.109649,0.896649,183465.349504
33,2023-11-01,Zegoland,461,2789,511,51,153,99170.401686,3.862052e+06,426.660766,...,0.965,476.0,37415.0,0.013,0.989,0.081405,0.918595,0.078215,0.923877,192515.454752
34,2023-12-01,Zegoland,92,1527,1415,22,102,92128.061740,3.600938e+06,510.902080,...,0.970,473.0,37645.0,0.012,0.987,0.079592,0.920408,0.102902,0.901116,192886.707376
35,2024-01-01,Zegoland,200,2153,271,32,80,105609.366866,3.954515e+06,490.508487,...,0.980,479.0,38249.0,0.012,0.988,0.094048,0.905952,0.109375,0.927625,205728.313688
36,2024-02-01,Zegoland,405,2718,455,18,102,99594.883198,3.732976e+06,448.705210,...,0.978,494.0,38763.0,0.013,0.988,0.068650,0.931350,0.057489,0.957622,190797.756844
37,2024-03-01,Zegoland,332,2358,392,18,116,100535.360644,3.617622e+06,423.473075,...,0.967,525.0,39161.0,0.013,0.987,0.055325,0.944675,0.148678,0.828850,186602.158422
38,2024-04-01,Zegoland,233,2538,383,16,89,109092.158318,4.003511e+06,592.564658,...,0.971,535.0,39964.0,0.013,0.986,0.090499,0.909501,0.081199,0.928734,197221.519211
39,2024-05-01,Zegoland,139,1793,340,8,54,105207.579379,3.693297e+06,508.419308,...,0.973,557.0,40403.0,0.014,0.986,0.048278,0.951722,0.066282,0.950545,186208.559606